<div class="main">
    <h1>Eind Reflectie</h1>
    <p
        >
        Doorheen mijn tijd binnen de PXL ben ik heel wat veranderd, ik begon als een student met weinig kennis in
        programmeren die niet wist wat hij exact wou doen binnen IT naar een eeuwige student die wil bij leren over zo
        veel mogelijk nieuwe technologieën of manieren om dingen beter te doen. Ik ben trots op wat ik heb bereikt en
        verheug me op alles dat nog voor me staat te wachten.</p>
    <p
        >
        De activiteiten die ik doorheen mijn studies heb gekozen hebben mijn ogen doen opengaan voor zo veel manieren om
        problemen te bekijken en aan te pakken. De seminaries die ik heb genomen hebben me veel bijgeleerd om problemen
        anders aan te pakken en welke situaties voordelig kunnen zijn met ander werkwijze. De belangrijkste les die ik
        heb geleerd en die ik vind dat je kan leren is dat er altijd meer is om te leren en dat er altijd dingen zijn
        die je niet weet, dus kunnen rekenen op je mede mens is zeer belangrijk.</p>
    <p
        >
        Zelf ben ik misschien niet de best of ijverigste student maar ik ben wel een student waar andere mensen op
        kunnen reken om hun zo goed mogelijk te helpen met al hun problemen. Ik probeer altijd een zo goed mogelijke
        mindset te hebben en die ook over te dragen naar mijn teamgenoten. Ik ben zeer dankbaar aan de PXL voor zo goed
        bij te sturen bij projecten zodat ik van mijn valkuilen heb kunnen leren en mezelf te verbeteren ten opzichte
        van mijn medestudent.&nbsp;</p>
    <p
        >
        &nbsp;</p>
    <p
        >
        <img style="padding-right: 200px; padding-left: 100px; "
            src="../../assets/images/x image.png">
    <p
        >
        De eerste pijler van de X-Factor is (em)passie, dit staat in voor het helpen van je medemens en volledig gaan
        voor de dingen waar je van houdt. Zelf ben ik een persoon die graag mensen helpt op elke manier dat ik kan ook
        al is mijn impact minimaal kan dit het verschil maken tussen succes en falen. Mijn passies liggen binnen het
        werken in team, dit zijn activiteiten zoals e-sports of teambuilding activiteiten. Zolang als ik kan samenwerken
        met vrienden ben ik er helemaal voor.</p>
    <p
        >
        De tweede pijler is ondernemend &amp; innovatief, dit is zeer belangrijk binnen de IT en vind ik mezelf volledig
        in. Zo ben ik zeer geïnteresseerd in het uittesten en gebruiken van nieuwe technologieën of manier om dingen
        beter te doen (flutter, low-code, cloud-services,…). Ook buiten de IT ben ik zeer ondernemend zo ben ik de vaak
        de persoon binnen mijn vrienden groep die vakanties/activiteiten opstelt, dit is niet altijd gemakkelijk door
        dat het al elk jaar zo goed is gegaan dat steeds meer mensen mee willen en de groep als maar groter wilt
        waardoor er aan meer aspecten gedacht moet worden.</p>
    <p
        >
        De derde pijler is samenwerken, ook hier ben ik zeker in te vinden. Ik heb binnen alle projecten zo goed
        mogelijk mijn best gedaan om een goede werk/vriendschappelijk sfeer op te stellen, zelf ben ik er ook van
        overtuigd dat al mijn teamgenoten tevreden zijn om met me te werken en graag opnieuw met mij zouden willen
        werken. Zelf beschouw ik veel van deze mensen ook mijn vrienden waar ik verder mee zou willen gaan en volledig
        kan vertrouwen.</p>
    <p
        >
        De laatste pijler is multi- &amp; diciplinariteit, hier heb ik doorheen de hele opleiding aan gedaan. Dit door
        het helpen van mijn medestudent en door het opvullen van de benodigde taken, ook heb ik seminaries gedaan dat
        mijn skills zou verbreden. Zo heb ik gewerkt aan frontend, backend, cloud services, mobile, web, UI, UX,
        testing,...</p>
    <p
        >
        Als afstuderend student vind ik van mezelf dat ik zeker een goede skillset heb ontwikkeld voor mezelf zowel als
        developer maar ook als persoon. Ook al is dit nog maar het begin van mijn avontuur binnen de IT-wereld heb ik
        toch al veel genoten en bijgeleerd van alle activiteiten. Ook al heb ik niet alle activiteiten met even veel
        enthousiasme of ingesteldheid gedaan ben ik toch blij dat ik ze heb gedaan en ervan heb bijgeleerd.</p>
</div>