.wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 6vw;
    row-gap: 5vh;
    width: 75vw;
    justify-content: center;
    padding-bottom: 5em;
}

h1 {
    color: #f2aa4c;
    background-color: #101820;
    border-radius: 16px;
    padding: 1em;
    margin-bottom: 2em;
    width: fit-content;
    border-color: #f2aa4c;
    border-width: 3px;
    border-style: solid;
}