<div class="container">
    <div class="main default item">
        <h1>Pieter Meesen</h1>
        <h2>Fullstack developer</h2>
        <p>
            Ik Ben Pieter Meesen, Een fullstack developer aan de hogeschool PXL. Mijn filosofie is het zijn van een
            eeuwige student, ik hou van bij leren en werken in team. Binnen mijn studies heb ik kennis gemaakt met
            frontend, backend, UI/UX en testing. Buiten mijn studies hou ik me vooral bezig met E-sports, fitness,
            klimmen en reizen.
            Binnen mijn hobby's ben ik liefst zo veel mogelijk bezig met vrienden vooral als dit gaat rond teamwork,
            deze
            waardes neem ik ook mee binnen mijn professioneel leven.

        </p>
    </div>
    <div class="item">
        <img class="profile" src="../../assets/images/profilePicture.jpg">
    </div>
</div>
<div class="details main">
    <h2>nog meer weten?</h2>
    <p>
        Ik heb gekozen voor fullstack development omdat het mijn ideeën zelf helemaal laat uitwerken, hiervoor heb ik
        ook extra seminaries genomen dat mij meer het hele verhaal laat begrijpen en uitvoeren. 
        Zelf ben ik een flexibel persoon binnen groepsprojecten, ik zorg meestal voor een opvullende rol zodat ik zeker
        weet dat mijn groepsgenoten een zo goed mogelijk resultaat kunnen leveren. Meestal zorgt dit dat ik zelf wat
        meer werk moet steken in het verbeteren van mijn skills binnen de opvullende taak. Wat ik vaak als voordeel zie
        want dit vult dan op zijn eigen beurt weer gaten op in mijn kennis. Binnen groepsprojecten ben ik meestal ook
        zeer sociaal en ondernemend wat zorgt voor een goede groepssfeer en vriendschappelijke band tussen de
        groepsleden.
    </p>
</div>