<img src="{{'../../assets/images/activitie images/' + givenProject?.img}}" class="icon">
<div class="card">
   <div class="column">
      <h2>{{ givenProject!.title }}</h2>
      <div class="row">
         <img src="../../assets/images/location.png" class="iconTag">
         <p>{{ givenProject!.location }}</p>
      </div>
      <div class="row">
         <img src="../../assets/images/duration.png" class="iconTag">
         <p>{{ givenProject!.duration }}</p>
      </div>
      <p>{{ givenProject!.summary }}</p>
   </div>
</div>